body {
	padding: 54px 52px;
}

header {
	margin-bottom: 97px;
}

a {
	color: #8D81FF;
	font-weight: 700;
	font-size: 26px;
}

.active {
	color: #4E6FAE;
}

.logo {
	vertical-align: middle;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

.list1 {
	display: inline-block;
	margin-left: 81px;
}
.banner{
	margin-left: 131px;
	margin-bottom: 120px;
}
.text1{
	font-size: 26px;
	font-weight: 700;
	color: #4E6FAE;
	display: inline-block;
}
.text2{
	font-size: 26px;
	font-weight: 400;
	color: #4E6FAE;
	margin-left: 17px;
	display: inline-block;
}
.img{
	margin-left: 18px;
	display: inline-block;
}
.news{
	margin-left: 131px;
	margin-bottom: 26px;
}
.greybox{
	width:500px;
	height: 192px;
	background-color: #E7E7E7;
	display: inline-block;
	margin-right: 52px;
	vertical-align: middle;
}
.boxes{
	margin-left: 131px;
	margin-bottom: 93px;
	display: inline-block;
}
.boxtitle{
	font-weight: 400;
	font-size: 20px;
	color: #3F4145;
	margin-top: 21px;
	margin-left: 23px;
}
.boximg{
	margin-top: 29px;
	margin-left: 13px;
}
.footer{
	margin-left: 41px;
}
.ft{
	margin-left: 153px;
}
.boxtxt{
	font-size: 16px;
	font-weight: 400;
	color: #7E8898;
	display: inline-block;
	width: 335px;
	height: 95px;
	margin-left: 37px;
	vertical-align: top;
	margin-top: 20px;
}